*{ margin: 0; padding: 0}
.javascript{
	margin-left: 172px;
}
.content{
	height: 800px;
  width: 900px;
	line-height: 800px;
	font-size: 32px;
	text-align: center;
	background: #cccfff;
}
.c-layer {
	.layer.layer-fr {
		.layer-ft{
			height: 40px;
			line-height: 40px;
		}
	}
}

@import '../src/index';